body {
    background-color:beige;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    border: 2px solid black;
    padding: 50px;
    margin: 160px;
    margin-bottom: 90px;
    border-radius: 16px;
    font-size: 30px;
    color:cadetblue;
    line-height: 2;
  }

h2 {
    font-size: 20px;
}

.center {
    text-align: center;
  }

ul.myUL {
    display: inline-block;
    text-align: left;
  }

p {
    font-size: 15px;
}

li {
    font-size: 15px;
}

