* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: rgb(136, 136, 80);
    transition: background-color 2s;
}

img {
    max-width: 100%;
}

header {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

main {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

main nav, main div, footer {
    padding: 10px;
    background-color: rgb(151, 151, 151);
}

nav, .details {
    width: 25%;
}

.center {
    width: 50%;
}

footer {
    text-align: center;
}

.secret {
    text-align: center;
    background-color: rgb(249, 65, 65);
    font-size: 20px;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
    display: none;
}

/*
    min-width = mobile-first design
    - scalable
    - constrained form (result is most sites now look the same)

    max-width = desktop-first design
*/

@media screen and (max-width:800px) {
    body {
        background-color: rgb(229, 173, 112);
    }

    main {
        flex-wrap: wrap;
    }

    nav, .center, .details {
        width: 100%;
    }

    .secret {
        display: block;
    }
}

@media screen and (max-width:600px) {
    body {
        background-color: rgb(172, 138, 189);
        font-size: 200%;
    }
}