p {
  color: white;
  font-size: 45px;
  font-family: monospace;
  text-align: right; 
  margin-top: -620px;
  margin-right: 40px;

 
 
}

body.bg-image1 {
  background: url("img/windows.jpg") no-repeat center fixed; 
  background-size: 100% 100%;
}

.bg-image2 {
  background: url("../passion-part3/img/windowsblur1.jpg") no-repeat center fixed; 
  background-size: 100% 100%;
}

.bg-image3 {
  background: url("../passion-part3/img/windowsblur1.jpg") no-repeat center fixed; 
  background-size: 100% 100%;
}

.bg-image4 {
  background: url("../passion-part3/img/windowsblur1.jpg") no-repeat center fixed; 
  background-size: 100% 100%;
}

.bg-image5 {
  background: url("../passion-part3/img/windowsblur1.jpg") no-repeat center fixed; 
  background-size: 100% 100%;
}

.container {
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 30px;
  }

  .containerblur {
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 30px;
    filter: blur(4px);
  }

  .folder_tab, .folder {
    margin: auto;
    background-color:khaki;
  }
  .folder_tab {
    width: 25px;
    height: 5px;
    margin-right: 50%;
    border-radius: 5px 15px 0 0;
  }
  .folder {
    width: 50px;
    height: 35px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 1px 1px 0 1px #525252;
  }

  body {
    font-family:monospace;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: solid;
  color: white;
  font-size: 110%;
}

a:active {
  text-decoration: none;
  color: white;
}



.slider-holder
        {
            width: 500px;
            height: 400px;
            background-color: rgb(255, 255, 255);
            position: fixed;
            top: 56.3%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            overflow: hidden;
        }

 
       
        .image-holder
        {
            width: 3500px;
            background-color: rgb(255, 255, 255);
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
        .slider-image
        {
            float:left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -500px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -1000px;
        }
        #slider-image-4:target ~ .image-holder
        {
            left: -1500px;
        }

       
        .button-holder
        {
            position: relative;
            top: -20px;
        }
       
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: blue;
        }