* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-container {
    background: transparent;
    width: 100%;
    height: 220vh;
    display: flex;
    flex-direction: column;

}

.upper {
    height: 5%;
    display: flex;

}

.sticky {
	position: sticky;
    top: 0;
}

.upper-item1 {
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 13.5px;
	font-family: "Space Mono", Icons;
    text-align: left;
    padding: 10px;
}

.upper-item2 {
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 13.5px;
	font-family: "Space Mono", Icons;
    text-align: center;
    padding: 10px;
}

.upper-item3 {
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 13.5px;
	font-family: "Space Mono", Icons;
    text-align: right;
    padding: 10px;
}

.bottom {
	  height: 5%;
    display: flex;
}

.center {
	  height: 100%;
    display: flex;
}

.bottom-item {
	background: transparent;
    width: 100%;
    height: 100%;
    font-size: 13.5px;
	font-family: "Space Mono", Icons;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.lower {
    height:  75%;
    display: flex;

    
}

.right-half {
    width: 34%;
    display: flex;
    flex-direction: column;
 
}

.right-item {
    background: transparent;
    height: 100%;
    font-size: 13.5px;
	font-family: "Space Mono", Icons;
}

.left-half {
    background: transparent;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

